/* RESET */
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1{
    font-size: 1.5em;
    color: #333;
}
p{
    font-size: 1em;
    color: #777;
}


/* CABEÇALHO */
.cabecalho{
    width: 100%;
    padding: 18px 8%;
    background: radial-gradient(#4A508A, #2b2f53);
    float: left;
}

/*logo*/
.logo a{
   width: 125px;
   height: 70px;
   float: left;
   background: url(../img/logo.png) no-repeat;
   font-size: 0;
}

/*forms*/
.cabecalho form{
    margin-top: 15px;
    width: 30%;
    float: right;
}

/*input*/
.cabecalho input[type="text"]{
    width: 84%;
    float: left;
    padding: 15px 10px;
    filter: drop-shadow(2px 2px 5px #1f223b);
    border-radius: 5px 0 0 5px;
}

/*botao*/
.cabecalho button{
margin-left: 2%;
width: 14%;
float: right;
padding: 15px 10px;
background-color: #1f223b;
color: aliceblue;
cursor: pointer;
border-radius: 0 5px 5px 0;
}

.cabecalho button:hover{
    filter: drop-shadow(2px 2px 5px #1f223b);
}


/*MENU*/
.menu{
    width: 100%;
    height: 60px;
    float: left;
    background-color: #1f223b;
    padding: 18px 5.5%;
}

/*colocando a linha na lateral*/
.menu li{
    float: left;
}

.menu li a{
    color: #9d9d9d;
    margin-right: 25px;
}

.menu li a:hover{
    color: rgb(255, 255, 255);
    font-size: large;
    height: 60;

}

/*social icons*/
.social-icons{
    float: right;
    margin-right: 2.5%;
}

.social-icons a{
    color:  #9d9d9d;
    float: left;
    margin-left: 12px;
}

.social-icons a:hover{
    color: aliceblue;
}